
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #242424;
  color: #fff;
  font-family: 'Fira Mono', 'Consolas', 'Menlo', 'Monaco', 'Liberation Mono', monospace;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
}

pre#ascii-animation {
  font-family: inherit;
  font-size: 12px;
  line-height: 1;
  background: #111;
  color: #fff;
  min-height: 32em;
  margin: 0;
  padding: 0.5em;
  overflow-x: auto;
  border-radius: 6px;
}
